{% extends 'layout.html'%}

{% block customCSS %} 
<link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet" >
{% endblock %}




{% block body %}
<main class="form-signin">
<div class="container forma">
    <form class="form-singin" action="/login" method="POST">
      <a href="/"><img class="mb-4 mt-4" src="{{ url_for('static' , filename='img/banner.jpg') }}" alt="" width="72" height="57"></a>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-warning" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</div>
  </main>
  
{% endblock %}