<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Indumentaria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Cancionero</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <a href="/login"><button class="btn btn-primary" type="button">Log In</button></a>
      </form>
    </div>
  </div>
</nav>